@media (max-width:768px) {
    .nav-link {
     position: fixed;
     left: 0;
     top: 5rem;
     background-color: white;
     display: flex;
     flex-direction: column;
     padding:1rem ;
     gap:20px;
     width: 50%;   
     height: 100%;
    }
}

.loader {
    width: 40px;
    height: 40px;
    border: 6px solid #e0e0e0;
    border-top-color: #22c55e;
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .image-loader {
    width: 40px;
    height: 40px;
    border: 6px solid #e0e0e0;
    border-top-color: #22c55e;
    border-radius: 50%;
    animation: imagespin 1s ease-in-out infinite;
  }
  
  @keyframes imagespin {
    to {
      transform: rotate(360deg);
    }
  }
  